venv/
.venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db
*.sqlite
*.egg-info/
*.egg
*.log
*.coverage
*.cover
*.hypothesis/
*.hypothesis/
*.tox/
*.mypy_cache/
*.pytest_cache/
*.coverage.*

.env
comments.txt


.DS_Store
*.swp
*.swo
*.swn
*.swo
*.swn